<% layout('layouts/boilerplate') -%>
<style>
    .welcome{
        justify-content: center;
        text-align: center;
        margin-top: 7rem;
    }
</style>
<div class="welcome">

    <h1>Welcome To Wanderlust</h1>
    <form action="/listings" method="get">
        <button class="btn btn-success">Explore our website</button>
    </form>
</div>